enable_damage = true
gameid = MineClone2
world_name = tpala
backend = sqlite3
player_backend = sqlite3
auth_backend = sqlite3
creative_mode = true
server_announce = false
load_mod_pala_core = true
load_mod_pala_dynamite = true
load_mod_pala_furnace = true
load_mod_pala_fakewater = true
load_mod_pala_spawner = true
load_mod_pala_server = true
load_mod_pala_legendary = true
load_mod_pala_obsidian = true
load_mod_pala_tools = true
load_mod_pala_looting = true
load_mod_pala_backpack = true
load_mod_pala_decoblock = true
load_mod_pala_paladium = true
load_mod_pala_machines = true
load_mod_pala_grade = true
load_mod_pala_luckyblock = true
load_mod_pala_armor = true
load_mod_pala_job = true
load_mod_pala_golem = true
load_mod_pala_craftitems = true
load_mod_pala_food = true
load_mod_pala_spikes = true
load_mod_pala_sticks = true
load_mod_pala_mapgen = true
load_mod_pala_storage = true

load_mod_db_manager = true
load_mod_mc_faction = false
load_mod_mc_economy = false
load_mod_drawers = false
load_mod_mcl_build_limit = false